[project]
	description = RTCClient for Rational Team Concert
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/zhujh-dc
[access "refs/for/refs/*"]
	read = group user/zhujh-dc
	push = group user/zhujh-dc
	label-Code-Review = -2..+2 group user/zhujh-dc
	label-Verified = -1..+1 group user/zhujh-dc
	rebase = group user/zhujh-dc
	removeReviewer = group user/zhujh-dc
	submit = group user/zhujh-dc
[access "refs/heads/*"]
	read = group user/zhujh-dc
	create = group user/zhujh-dc
	push = +force group user/zhujh-dc
	pushMerge = group user/zhujh-dc
[access "refs/tags/*"]
	push = group user/zhujh-dc
	push = +force group user/zhujh-dc
[submit]
	action = cherry pick
